<% @style = "/index.css" %>

<div class="comidas">
    <h2 class="comidas">Comidas</h2>
    <div class="comidas" >
        <div class="comidas" id="container" >
            <% @foods.each do |food| %>
            
                <div>
                    <h3 class="comidas"><%= food.getFactoredName%></h3>
                    <p class="comidas" id="info_id">Barraca: <%= food.id%></p>
                    <h4 class="flavor" id="title">Sabores:</h4>
                    <div class="flavor" id="container">
                        <% food.products.each do |item|%>
                            <% unless item.image.empty? %>
                                <div class="flavor" id="flex">

                        
                                    <div id="div_image">
                                        <img src="<%= item.image %>" alt=""a class="flavor" id="image">
                                    </div>

                                    
                                    <div id="item_info_flex">
                                        <div class="flavor" id="name-value">
                                            <div><h5><%= item.name%></h5></div>  <div>R$<%= item.getValueFormatted%></div>
                                        </div> 
                                        <div id="ingredientes">
                                            <% unless item.description.empty? %>
                                                Ingredientes: <%= item.description%>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% else %>
                                <div class="flavor" id="noflex" >

                                    
                                    <div id="item_info_no_flex">
                                        <div class="flavor" id="name-value">
                                            <div><h5><%= item.name%></h5></div>  <div>R$<%= item.getValueFormatted%></div>
                                        </div> 
                                        <div id="ingredientes">
                                            <% unless item.description.empty? %>
                                                Ingredientes: <%= item.description%>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    <div>
</div>

<div class="bebidas" id="container">
    <h2>Bebidas</h2>
    <ul class="bebidas">  
        <% @drinks.each do |drink|%>
            
            <li class="bebidas">
                <div class="bebidas" id="itens">
                    <div>
                        <%= drink.name%>
                    </div>
                    <div>
                        R$<%= drink.getValueFormatted%>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
</div>
<div class="brinquedos" id="container">
    <h2>Brinquedos</h2>
    <div class="brinquedos">
        <% @toys.each do |toy|%>
            <div class="brinquedos" id="itens" >
                
                <div>
                    <%= toy.name%>
                </div>

                <div>
                    R$<%= toy.getValueFormatted%>
                </div>
            </div>
        <% end %>
    </civ>
</div>